@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,400&family=Montserrat:wght@400;600;700&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,400&family=Montserrat:wght@400;600;700&family=Poppins:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Lato:ital,wght@0,300;0,700;1,400&family=Montserrat:wght@400;600;700&family=Poppins:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Lato:ital,wght@0,300;0,700;1,400&family=Montserrat:wght@400;600;700&family=Poppins:wght@600;700&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lato:ital,wght@0,300;0,700;1,400&family=Montserrat:wght@400;600;700&family=Poppins:wght@600;700&family=Roboto:wght@700&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

.btn-primary{
    background-color:#E02C6D;
    padding: 10px 20px;
    border:none;
    border-radius: 15px;
    color: white;
    margin: 20px ;

}

/* .btn-primary>i{
    margin-left: 2px;
} */
.navproducts{
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

navproducts h3{
    font-family: 'Poppins', sans-serif;
}
.navigation{
    display: flex;
}
.navigation li{
    list-style: none;
    padding: 0 5px;
}

.navigation li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 15px 10px;
}

.navigation li a:hover{
    background-color: blanchedalmond;
}

.banner{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    height: 86vh;
    /* background-color: cadetblue; */
}
.banner-left{
    margin-top: 200px;
}
.banner-left h1{
    font-size: 52px;
}
.banner-left p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-top: 20px;
}

.banner-right{
    padding-top: 40px;
    padding-left: 59px;
}

.banner-right img{
    border: 1px solid #e6e6e6;
    border-radius: 500px;
    width: 100%;
}

.ecommerce{
    

    margin: 2rem 2rem;
    padding: 1rem 3rem;
    border: 2px solid #e6e6e6;
    position: static;
    
}

.ecommerceimg{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    justify-content:space-evenly;
    margin-left: 10px;
}
.pcollections{
    
    /* border: 2px solid black; */
    /* padding-top:50px; */
}

.pcollections h3{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.collections{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: flex-end;
}

.collection{
    margin:20px 40px;
    border-radius: 10px;
    box-shadow: 5px 8px 5px 8px #888888;
    /* font-family: 'Poppins', sans-serif;
    font-size: 28px; */
}

.collection img{
    border-radius: 10px;
    margin:5px 5px;
}

.collection h4{
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    margin-left: 5px;
}

.fa-star{
    font-size: 12px;
}

.fa-star.filled,.fa-star-half{
    color: #FFC014;
}

.collection p{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #787885;
    margin-left: 5px;
    margin-bottom: 5px;
}

.collection span{
    font-family: 'Inter', sans-serif;
    color: #787885;
}

.collection-info{
    margin-left: 5px;
    /* margin-bottom: 5px; */
}

#price{
    font-size: 24px;
    color: rgb(0, 0, 0,87%);
}

.more{
    text-align: right;
    color: #E02C6D;
    font-family: 'Poppins', sans-serif;
}

.animation{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 500px; */
    /* text-align: center; */
    /* transform: scale(2); */
}

.imghover{
    margin-left: 5px;
}

.imghover:hover{
    text-align: center;
    transform: scale(1.5);
    transition: 3s ease;
}

.btn-center{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

footer{
    height: 100px;
    background-color: navy;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
}
footer p{
    font-size: 10px;
}

.socialnetwork i{
    padding: 2px 5px;
}

/* #nav-toggler{
    display: none;
}

.nav-toggler-icon{
    display: block;
} */

@media only screen and (max-width:1473px)
{
    .ecommerce{
        margin-top: 170px;
    }
}

@media only screen and (max-width:1009px)
{
    .collections{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: flex-end;
    }
}

@media only screen and (max-width:765px)
{
    .ecommerce{
        margin-top: 300px;
    }
}

@media only screen and (max-width: 600px) {
    .banner{
        display: grid;
        grid-template-columns:repeat(1,1fr);
        height: 86vh;
        /* background-color: cadetblue; */
    }

    .collections{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: flex-end;
    }

    .ecommerceimg{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content:space-evenly;
        margin-left: 10px;
    }

    .ecommerce{
        margin-top: 665px;
    }
}
